[Desktop Entry]
Name=Quick Start
Encoding=UTF-8
Exec=/usr/local/bin/QuickStart.sh
Comment=Start up Commonly used programs
Icon=/usr/share/icons/nuoveXT2/128x128/apps/terminal.png
Terminal=false
StartupNotify=true
NoDisplay=false
Categories=
OnlyShowIn=LXDE
Type=Application