[Desktop Entry]
Name=uzbl
Encoding=UTF-8
Exec=/usr/bin/uzbl-browser
Comment=UZBL Web Browser
Icon=/usr/share/icons/nuoveXT2/128x128/apps/browser.png
Terminal=false
NoDisplay=false
Categories=Network;WebBrowser;
OnlyShowIn=LXDE
Type=Application